---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Millán Castro - About";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="container">
        <p>Poca broma</p>
    </div>
</BaseLayout>
