---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");
const pageTitle = "Millán Castro - Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <h1 class="mb-9 border-b border-gray-700">Artículos</h1>
    <ul>
      {
        allPosts.map((post) => (
          <BlogPost
            url={`/posts/${post.slug}/`}
            title={post.data.title}
            date={post.data.pubDate}
          />
        ))
      }
    </ul>
  </div>
</BaseLayout>
