---
const { title, url, date } = Astro.props;
---

<li class="pb-2">
  <a
    href={url}
    class="flex justify-between font-medium hover:bg-darkSecondary transition-colors duration-300"
  >
    <h3>{title}</h3>
    <time class="hidden lg:block pr-2"
      >{date.toLocaleDateString().replace(/\//g, "-")}</time
    >
  </a>
</li>
