---
const { title, url, date } = Astro.props;
---

<li>
  <a class="post" href={url}>
    <h3>{title}</h3>
    <time>{date}</time>
  </a>
</li>

<style>
  a.post {
    background: transparent;
    border-bottom: 1px solid rgb(190, 190, 190);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.4rem 0;
    text-decoration: none;
  }

  a {
    color: #000000;
  }

  h3 {
    line-height: 1.3;
    margin: 0;
  }

  a.post time {
    color: #dd885e;
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    margin-left: auto;
    white-space: nowrap;
  }
</style>
