---
const { title, url, date } = Astro.props;
---

<li class="pb-2">
  <a href={url} class="flex items-end">
    <time class="pr-2 dark:text-lightSecondary font-thin"
      >{date.toLocaleDateString()}:</time
    >
    <h3 class="font-bold hover:underline">{title}</h3>
  </a>
</li>
