---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="container text-lg">
  <div class="flex
  justify-center">
    <a href="/" class="border-b">Millán Castro Vilariño</a>
  </div>
  <nav>
    <Navigation />
  </nav>
  <ThemeIcon />
</header>
