<ul class="flex justify-center">
  <li class="mr-6">
    <a href="/" class="dark:hover:text-lightPrimary">BLOG</a>
  </li>

  <li>
    <a href="/about/" class="dark:hover:text-lightPrimary">ABOUT</a>
  </li>
</ul>
