---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<nav class="font-medium text-xl text-secondary">
  <div class="flex justify-between items-center container">
    <h1 class="font-medium text-xl text-secondary">Millán Castro</h1>
    <ul class="flex">
      <li class="ml-6">
        <a
          href="/"
          class={currentPath === "" || currentPath === "posts/"
            ? "text-primary"
            : ""}>BLOG</a
        >
      </li>

      <li class="ml-6">
        <a href="/about/" class={currentPath === "about/" ? "text-primary" : ""}
          >ABOUT</a
        >
      </li>
    </ul>
  </div>
</nav>
