---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<nav
  class="py-2 lg:py-9 border-b border-secondary/30 dark:border-darkSecondary/30 lg:border-none text-secondary dark:text-darkSecondary text-18px"
>
  <div class="flex items-baseline justify-between container px-3">
    <a href="/" class="font-medium">MILLÁN CASTRO´S WEBSITE</a>
    <a
      href="/"
      class={currentPath === "" ? "text-primary dark:text-darkPrimary" : ""}
      >BLOG</a
    >
  </div>
</nav>
