---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<nav class="py-2 lg:py-9 text-primary text-2xl lg:text-3xl font-bold">
  <div class="text-center">
    <a href="/">THINKING A BIT</a>
  </div>
</nav>
