---

---

<div
    class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-2xl
  prose-h2:font-bold prose-h2:text-xl
   prose-p:text-justify prose-p:text-primary prose-img:rounded-xl"
>
    <slot />
</div>
