---

---

<div
    class="prose-h1:font-bold prose-h1:text-3xl
  prose-h2:font-bold prose-h2:text-xl prose-h2:mt-12 prose-h2:mb-4
   prose-p:text-justify prose-p:text-primary prose-p:mb-5
   prose-ul:pl-6 prose-ul:list-disc
   prose-li:pl-1 prose-li:pb-2
   prose-code:font-mono prose-code:text-code"
>
    <slot />
</div>
