---

---

<div
    class="prose-h1:font-bold prose-h1:text-3xl
    prose-h2:font-bold prose-h2:text-xl prose-h2:mt-7 prose-h2:mb-3
    prose-p:text-justify prose-p:text-primary prose-p:dark:text-darkPrimary prose-p:mb-5
    prose-ul:pl-6 prose-ul:list-disc
    prose-li:pl-1 prose-li:pb-2
    prose-pre:p-6 prose-pre:bg-surface prose-pre:dark:bg-darkSurface
    prose-code:font-mono prose-code:text-code
    prose-a:text-sm prose-a:pl-1 prose-a:text-accent prose-a:dark:text-darkAccent"
>
    <slot />
</div>
