---
import Header from "../components/Header.astro";
const { pageTitle } = Astro.props;

import "@fontsource/twinkle-star";
import "../styles/base.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="py-8">
      <Header />
    </div>
    <main class="py-8">
      <slot />
    </main>
  </body>
</html>
