---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <div style="margin-bottom: 2ch;text-transform: none;">
    {frontmatter.pubDate}
  </div>
  <h2>{frontmatter.title}</h2>
  <hr />
  <slot />
  <!-- <div class="tags">
    {
      frontmatter.tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div> -->
</BaseLayout>
