---
import Prose from "../components/Prose.astro";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="container">
    <h1 class="mt-8">{frontmatter.title}</h1>
    <div class="mb-8">
      {frontmatter.pubDate.toLocaleDateString().replace(/\//g, "-")}
    </div>
    <Prose>
      <slot />
    </Prose>
  </div>
</BaseLayout>
