---

---

<div>
    <div id="sketch-container"></div>
</div>

<script>
    import SketchClass from "./SketchClass.js";

    document.addEventListener("DOMContentLoaded", () => {
        const container = document.getElementById("sketch-container");
        new SketchClass(container);
    });
</script>
